@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap');


.flexy {
  display: flex;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  overscroll-behavior-y: none;
}
